@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@400;600&family=PT+Sans+Narrow&family=Prompt:wght@500&display=swap');

$bg-bar: rgba(255, 255, 255, 0.347);
$font-cour: 'Courgette', cursive;
$font-mont: 'Montserrat', sans-serif;
$font-pr: 'Prompt', sans-serif;
$btn: rgb(1, 128, 145);
$btnh: rgb(97, 237, 255);


form {
    margin: 1.5rem auto;
    width: 60rem;
    height: 40rem;
    background-color: #ceecec;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    label {
        font-size: 25px;
    }

    .title {
        font-size: 35px;
        font-family: $font-mont;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .item {
        border: 1px solid black;
        margin: 10px;
        height: 50px;

        input {
            margin-top: 10px;
            position: relative;
            width: 60%;
            margin-left: 50px;
            height: 30px;
            font-size: 20px;
            padding: 2px 0;
            outline: none;
            box-shadow: none;
            border: none;
            transition: 0.3s;
            color: #000;
            border-bottom: 1px solid rgb(0, 0, 0);
            background: #ffffff75;
            border-radius: 2px;
        }
    }

    .btn {
        font-family: $font-mont;
        text-align: center;
        font-size: 20px;
        padding: 5px 0;
        background: $btn;
        width: 20%;
        margin: 10px 0;
        margin-left: 40%;
        border: none;
        border-radius: 10px;
        transition: background-color, transform .5s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.01);
            background-color: $btnh;
        }
    }

}